@{
    ViewData["Title"] = "Home Page";
}

<style>
    html {
        background-color: #ffffcc;
        font-family: 'Courier New', monospace;
    }

    p {
        text-align: center;
        font-size: 30px;
        color: black;
    }
</style>
<div class="text-center" style="background: pink;">
    <h1 class="display-4"">Welcome</h1>
    <h1>СЕРВИЗ ЗА КЛИМАТИЦИ АТАНАС КОЛЕВ ООД</h1>
</div>
