@model WebApp.Models.Orders

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="ID_User" class="control-label"></label>
                <input asp-for="ID_User" class="form-control" />
                <span asp-validation-for="ID_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProblemDesc" class="control-label"></label>
                <input asp-for="ProblemDesc" class="form-control" />
                <span asp-validation-for="ProblemDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="Status" id="Status">
                    <option value="изчакваща">изчакваща</option>
                    <option value="очаква посещение">очаква посещение</option>
                    <option value="в прогрес">в прогрес</option>
                    <option value="приключена">приключена</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Id_Technition" class="control-label">Technition</label>
                <select asp-for="Id_Technition" class="form-control" asp-items="ViewBag.Tech"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
